$body-color: #3776B4;
$white: #fff;
$card-background: #F0F0F0;

html, body {
    background-color: $white !important;
}

.card {
    background-color: $card-background;
    padding: 5px;
    .content-container{
        color: $body-color;
        .button-card {
            width: 100%;
            background-color: $body-color;
            a {
                color: $white;
            }
        }
        .detail-container {
            display: flex;
            justify-content: space-between;
        }
    }
}

.button {
    height: 34px;
    border-radius: 11px;
    background-color: $body-color;
    color: $white;
    padding: 5px;
}

.btn-blue {
    background-color: $body-color !important;
    color: $white !important;
}

.btn-red {
    background-color: red !important;
    color: $white !important;
}

//navbar
.navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    .main-container {
        display: flex;
        .title {
            font-size: 30px;
            margin: 0;
        }
        h1 {
            margin: 0;
            color: $body-color;
        }
        .link-container {
            margin: 0.625rem 0;
            .link {
                padding: 20px 30px;
                color: $body-color;
            }
        }
    }
    .logout-container {
        margin: 0.625rem 0;
    }
}


//login-style
.login-container {
    text-align: center;
    margin: 30vh 0;
    .title {
        color: $body-color;
    }
    .input-container {
        display: inline-grid !important;
        input {
            background: transparent;
            width: 22vw;
            height: 40px;
            border-radius: 11px;
            border-color: $body-color;
            margin: 6px 0;
            padding-left: 20px;
            &::placeholder {
                color: $body-color;
            }
        }
        .daftar-disini {
            margin-top: 2.5rem;
            color: $body-color;
            a {
                color: $body-color;
            }
        }
    }
}

//homepage
.home-page {
    .card {
        .content-container{
            color: $body-color;
        }
    }
}

//makanan
.makanan {
    .title {color: $body-color; margin: 30px 0;}
    .menu-makanan {
        .detail-container{
            color: $body-color;
            .harga{font-size: 25px;}
            .button {
                margin: 30px 0;
                width: 400px;
            }
        }
    }
}

//isibiodata
.isi-biodata {
    .title {
        color: $body-color;
        margin: 30px 0;
    }
    input[type]:not([type=radio]) {
        width: 100%;
        border: 0;
        border-bottom: 1px solid gray;
    }
    .form-container {
        .total-harga {
            position: relative;
            .total-container {
                position: absolute;
                right: 0;
                p {
                    color: $body-color;
                    font-size: 25px;
                }
                .button {
                    width: 320px;
                }
            }
        }
    }
}

.upload-bukti {
    .content {
        margin: 40px 0;
    }
    .pop-message {
        display: none;
    }
}

//history
.history {
    .button-card {
        background-color: #49CB71 !important;
    }
}

.admin-role {
    .btn-create {
        margin: 20px 0;
    }
    table {
        .header-table {
            background-color: $card-background;
        }
        tr {
            .btn-action {
                display: flex;
            }
            td {
                padding: 20px 10px;
            }
            th {
                padding: 20px 10px;
                h2 {margin: 0;}
            }
        }
    }
}

.assign-role {
    .btn-create {
        margin: 20px 0;
    }
    table {
        .header-table {
            background-color: $card-background;
        }
        tr {
            .btn-action {
                display: flex;
            }
            td {
                padding: 20px 10px;
            }
            th {
                padding: 20px 10px;
                h2 {margin: 0;}
            }
        }
    }
}

.admin-edit, .admin-create {
    padding: 20px 0;
    .input {
        display: table-caption;
    }
    .btn {
        margin: 20px 0;
    }
}

.owner-create {
    padding: 20px 0;
    .input {
        display: inline-grid;
    }
    .btn {
        margin: 20px 0;
    }
}

.seller-restaurant, .seller-edit {
    margin: 40px 0;
    table {
        margin: 40px 0;
        td {width: 60%;}
    }
}

.seller-food {
    margin: 40px 0;
    table {
        width: 100%;
        tr {
            .button-action {
                display: flex;
            }
        }
    }
}

.seller-edit, .seller-createmakanan {
    margin: 40px 0;
    table {
        tr {
            display: grid;
        }
    }
    .btn-submit {
        margin: 40px 0;
    }
}

.transaction {
    margin: 40px 0;
    table {
        width: 100%;
        tr {
            th {
                font-size: 15px;
                padding: 20px 0;
            }
        }
    }
}

.customer-food, .customer-transaction {
    margin: 40px 0;
    table {
        width: 100%;
        tr {
            th {
                font-size: 15px;
                padding: 20px 0;
            }
        }
    }
}

.customer-transaction {
    .header-container {
        display: flex;
        justify-content: space-between;
        a {
            font-size: 15px;
            font-weight: bold;
        }
    }
}
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
