$body-color: #3776B4;
$white: #fff;

html, body {
    color: $white;
    background-color: $body-color;
}

.login-container {
    text-align: center;
    margin: 30vh 0;
    .input-container {
        display: inline-grid !important;
        input {
            background: transparent;
            width: 22vw;
            height: 30px;
            border-radius: 11px;
            border-color: $white;
            margin: 6px 0;
            padding-left: 20px;
            &::placeholder {
                color: $white;
            }
        }
        button {
            height: 30px;
            border-radius: 11px;
        }
        .daftar-disini {
            margin-top: 2.5rem;
            a {
                color: $white;
            }
        }
    }
}
